body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background: url(../images/linedpaper.png); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif; }

h3 {
  font-size: 40px;
  text-align: center; }

p, li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }

a:hover {
  color: inherit; }

/*Top Bar*/
.top-bar {
  background: #eee;
  color: #666;
  border-bottom: solid 1px #cccccc; }
  .top-bar a {
    color: #666; }

/*Main Area*/
.site-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 70px;
  margin: 50px 0; }

.downloads {
  text-align: center; }

.btn {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  border-radius: 6px;
  padding: 20px 20px 15px;
  line-height: 25px;
  font-weight: 700;
  margin: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .btn span {
    font-size: 20px;
    font-weight: normal;
    text-transform: none; }

.donationdl {
  border-bottom: 1px solid #666666;
  border-top: 1px solid #333333;
  color: white;
  background: #333;
  -webkit-box-shadow: 0px 4px 0px #222222, 0px 9px 36px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0px 4px 0px #222222, 0px 9px 36px rgba(255, 255, 255, 0.3) inset; }
  .donationdl:hover {
    background: #222;
    -webkit-box-shadow: 0px 4px 0px #222222, 0px 9px 36px rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 4px 0px #222222, 0px 9px 36px rgba(255, 255, 255, 0.1) inset;
    color: #ccc; }

.freedl {
  border: 1px solid #cccccc;
  color: #333;
  background: #eee;
  -webkit-box-shadow: 0px 4px 0 #999999, 0px 9px 36px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0px 4px 0 #999999, 0px 9px 36px rgba(255, 255, 255, 0.3) inset; }

.paypal-form {
  display: none;
  margin: 20px auto;
  width: 70%;
  padding: 20px;
  background: white;
  -webkit-box-shadow: 1px 1px 5px #999999;
  box-shadow: 1px 1px 5px #999999; }

.donation-fields {
  padding: 0 19%; }
  .donation-fields .value {
    font-size: 30px;
    margin: 10px 0; }

#other {
  width: 200px;
  display: inline; }
