{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->



<div class="row">

    <!-- Main Blog Content -->
    <div class="twelve columns" role="content">
        <h1 class="site-title">{{ app.config.general.sitename }}</h1>
    <a class="download" id="donationdl">Download with donation!</a>
    <a class="download" id="freedl">Download for free!</a>

    </div>

</div>

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
