{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->



<div class="row">

    <!-- Main Blog Content -->
    <div class="twelve columns" role="content">
        <h1 class="site-title">{{ app.config.general.sitename }}</h1>
        <div class="downloads">
            <a class="btn donationdl" id="donationdl">Download<br /><span>with donation</span></a>
            <a class="btn freedl" id="freedl">Download<br /><span>for free</span></a>
        </div>

    </div>

</div>

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
